Repository lookmumnohandlebars/SlnfgenCLI, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, src, tests, config, pipeline

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - docs/**

src:
  - changed-files:
      - any-glob-to-any-file:
          - src/**
          - src/**

tests:
  - changed-files:
      - any-glob-to-any-file:
          - src/test/**

config:
  - changed-files:
      - any-glob-to-any-file:
          - .config/**
          - .husky/**
          - .vscode/**
          - "**/*.yml"

pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

release:
  - base-branch: "^release"

chore: temporarily disable snyk security checks in GHA
  .github/workflows/main.merge.yml
Labels: docs, config, pipeline

chore: temporarily disable snyk security checks in GHA (#11)
  .github/workflows/main.merge.yml
Labels: docs, config, pipeline

docs: correct LICENSE badge in readme
  README.md
Labels: none

docs: correct LICENSE badge in readme (#12)
  README.md
Labels: none

chore: auto-format
  README.md
Labels: none

docs: update funding
  .github/funding.yml
Labels: docs, config, pipeline

refactor: change to more generic auto include suffix patterns
  README.md
  docs/reference.md
  src/app/Slnfgen.CLI/Application/Repositories/Manifest/SolutionFiltersManifest/SolutionFiltersManifestFileLoader.cs
  src/app/Slnfgen.CLI/Domain/Manifest/SolutionFiltersManifest/Models/SolutionFiltersManifest.cs
  src/app/Slnfgen.CLI/Domain/Manifest/SolutionFiltersManifest/Models/SolutionFiltersManifestFilterDefinition.cs
  src/app/Slnfgen.CLI/Domain/Solution/DependencyInjection.cs
  src/app/Slnfgen.CLI/Domain/Solution/Filter/Services/ProjectSuffixFinder.cs
  src/app/Slnfgen.CLI/Domain/Solution/Filter/Services/SolutionFilterGenerator.cs
  src/test/Slnfgen.CLI.UnitTests/Application/Requests/Generate/GenerateOneSolutionFilterRequestHandlerTests.cs
  src/test/Slnfgen.CLI.UnitTests/Application/Requests/Generate/GenerateSolutionFiltersRequestHandlerTests.cs
  src/test/Slnfgen.CLI.UnitTests/Domain/Solution/SolutionFilter/Services/ProjectSuffixFinderTests.cs
  src/test/Slnfgen.CLI.UnitTests/Domain/Solution/SolutionFilter/Services/SolutionFilterGeneratorTests.cs
  src/test/Slnfgen.CLI.UnitTests/TestSolutions/SolutionWithTests/monorepo.yml
Labels: docs, src, tests, config

docs: use autoIncludeSuffixPatterns everywhere in docs
  docs/reference.md
Labels: docs

Update src/app/Slnfgen.CLI/Domain/Solution/Filter/Services/ProjectSuffixFinder.cs
  src/app/Slnfgen.CLI/Domain/Solution/Filter/Services/ProjectSuffixFinder.cs
Labels: src

Update README.md
  README.md
Labels: none

fix: format up the files
  .config/.release-please-manifest.json
  .config/Taskfile.fmt.yml
  .github/actions/publish/action.yml
  .github/workflows/main.pull-request.yml
  .husky/task-runner.json
  CHANGELOG.md
  src/Taskfile.ci.yml
  src/app/Slnfgen.CLI/Slnfgen.CLI.csproj
Labels: docs, src, config, pipeline

fix: format up the files (#15)
  .config/.release-please-manifest.json
  .config/Taskfile.fmt.yml
  .github/actions/publish/action.yml
  .github/workflows/main.pull-request.yml
  .husky/task-runner.json
  CHANGELOG.md
  src/Taskfile.ci.yml
  src/app/Slnfgen.CLI/Slnfgen.CLI.csproj
Labels: docs, src, config, pipeline

Update .release-please-manifest.json
  .config/.release-please-manifest.json
Labels: config

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update Slnfgen.CLI.csproj
  src/app/Slnfgen.CLI/Slnfgen.CLI.csproj
Labels: src

chore: auto-format
  .config/.release-please-manifest.json
  src/app/Slnfgen.CLI/Slnfgen.CLI.csproj
Labels: src, config

fix: source parameter in github push
  src/Taskfile.ci.yml
Labels: docs, src, config

fix: incorrect escaping in final json
  .gitignore
  src/Directory.Packages.props
  src/app/Slnfgen.CLI/Application/Repositories/Solution/Filter/SolutionFilterFileLoader.cs
  src/app/Slnfgen.CLI/Application/Repositories/Solution/Filter/SolutionFilterFileWriter.cs
  src/app/Slnfgen.CLI/Common/Paths/PathUtilities.cs
  src/app/Slnfgen.CLI/Domain/Manifest/SolutionFiltersManifest/Models/SolutionFiltersManifestFilterDefinition.cs
  src/app/Slnfgen.CLI/Domain/Solution/Filter/Models/SolutionFiltersManifestSolutionDefinition.cs
  src/app/Slnfgen.CLI/Slnfgen.CLI.csproj
  src/test/Slnfgen.CLI.IntegrationTests/Commands/Gen/GenerateAllSolutionFiltersCommandTests.cs
  src/test/Slnfgen.CLI.IntegrationTests/Commands/Gen/GenerateOneSolutionFilterCommandTests.cs
  src/test/Slnfgen.CLI.UnitTests/Application/Requests/Generate/GenerateOneSolutionFilterRequestHandlerTests.Handle_ShouldGenerateConsistentJsonSolutionFilter.verified.slnf
  src/test/Slnfgen.CLI.UnitTests/Application/Requests/Generate/GenerateOneSolutionFilterRequestHandlerTests.cs
  src/test/Slnfgen.CLI.UnitTests/Application/Requests/Generate/GenerateSolutionFiltersRequestHandlerTests.Handle_ShouldGenerateConsistentJsonSolutionFilter.verified.slnf
  src/test/Slnfgen.CLI.UnitTests/Application/Requests/Generate/GenerateSolutionFiltersRequestHandlerTests.cs
  src/test/Slnfgen.CLI.UnitTests/Domain/Solution/SolutionFilter/Services/SolutionFilterGeneratorTests.LegacyFormats.cs
  src/test/Slnfgen.CLI.UnitTests/Domain/Solution/SolutionFilter/Services/SolutionFilterGeneratorTests.cs
  src/test/Slnfgen.CLI.UnitTests/Slnfgen.CLI.UnitTests.csproj
Labels: src, tests

fix: incorrect escaping in final json (#19)
  .gitignore
  src/Directory.Packages.props
  src/app/Slnfgen.CLI/Application/Repositories/Solution/Filter/SolutionFilterFileLoader.cs
  src/app/Slnfgen.CLI/Application/Repositories/Solution/Filter/SolutionFilterFileWriter.cs
  src/app/Slnfgen.CLI/Common/Paths/PathUtilities.cs
  src/app/Slnfgen.CLI/Domain/Manifest/SolutionFiltersManifest/Models/SolutionFiltersManifestFilterDefinition.cs
  src/app/Slnfgen.CLI/Domain/Solution/Filter/Models/SolutionFiltersManifestSolutionDefinition.cs
  src/app/Slnfgen.CLI/Slnfgen.CLI.csproj
  src/test/Slnfgen.CLI.IntegrationTests/Commands/Gen/GenerateAllSolutionFiltersCommandTests.cs
  src/test/Slnfgen.CLI.IntegrationTests/Commands/Gen/GenerateOneSolutionFilterCommandTests.cs
  src/test/Slnfgen.CLI.UnitTests/Application/Requests/Generate/GenerateOneSolutionFilterRequestHandlerTests.Handle_ShouldGenerateConsistentJsonSolutionFilter.verified.slnf
  src/test/Slnfgen.CLI.UnitTests/Application/Requests/Generate/GenerateOneSolutionFilterRequestHandlerTests.cs
  src/test/Slnfgen.CLI.UnitTests/Application/Requests/Generate/GenerateSolutionFiltersRequestHandlerTests.Handle_ShouldGenerateConsistentJsonSolutionFilter.verified.slnf
  src/test/Slnfgen.CLI.UnitTests/Application/Requests/Generate/GenerateSolutionFiltersRequestHandlerTests.cs
  src/test/Slnfgen.CLI.UnitTests/Domain/Solution/SolutionFilter/Services/SolutionFilterGeneratorTests.LegacyFormats.cs
  src/test/Slnfgen.CLI.UnitTests/Domain/Solution/SolutionFilter/Services/SolutionFilterGeneratorTests.cs
  src/test/Slnfgen.CLI.UnitTests/Slnfgen.CLI.UnitTests.csproj
Labels: src, tests

feat: support project directories and files in manifest file
  src/app/Slnfgen.CLI/Domain/Manifest/SolutionFiltersManifest/Models/SolutionFiltersManifestFilterDefinition.cs
  src/app/Slnfgen.CLI/Domain/Solution/Filter/Services/SolutionFilterGenerator.cs
  src/test/Slnfgen.CLI.IntegrationTests/Commands/Gen/GenerateOneSolutionFilterCommandTests.cs
Labels: src, tests

feat: solution file generation
  src/app/Slnfgen.CLI/Application/DependencyInjection.cs
  src/app/Slnfgen.CLI/Application/Repositories/DependencyInjection.cs
  src/app/Slnfgen.CLI/Application/Repositories/Manifest/SolutionFiltersManifest/SolutionFiltersManifestFileLoader.cs
  src/app/Slnfgen.CLI/Application/Repositories/Solution/File/XmlSolutionFileWriter.cs
  src/app/Slnfgen.CLI/Application/Requests/GenerateAll/SolutionFilters/GenerateSolutionFiltersRequest.cs
  src/app/Slnfgen.CLI/Application/Requests/GenerateAll/SolutionFilters/GenerateSolutionFiltersRequestHandler.cs
  src/app/Slnfgen.CLI/Application/Requests/GenerateAll/SolutionFilters/GenerateSolutionFiltersRequestValidator.cs
  src/app/Slnfgen.CLI/Application/Requests/GenerateAll/SolutionFilters/GenerateSolutionFiltersResponse.cs
  src/app/Slnfgen.CLI/Application/Requests/GenerateAll/Solutions/GenerateSolutionFiltersRequestHandler.cs
  src/app/Slnfgen.CLI/Application/Requests/GenerateAll/Solutions/GenerateSolutionsRequest.cs
  src/app/Slnfgen.CLI/Application/Requests/GenerateAll/Solutions/GenerateSolutionsResponse.cs
  src/app/Slnfgen.CLI/Application/Requests/GenerateTarget/SolutionFilters/GenerateTargetSolutionFilterRequest.cs
  src/app/Slnfgen.CLI/Application/Requests/GenerateTarget/SolutionFilters/GenerateTargetSolutionFilterRequestHandler.cs
  src/app/Slnfgen.CLI/Application/Requests/GenerateTarget/SolutionFilters/GenerateTargetSolutionFilterResponse.cs
  src/app/Slnfgen.CLI/Domain/Manifest/SolutionFiltersManifest/Models/ManifestSolutionDefinition.cs
  src/app/Slnfgen.CLI/Domain/Manifest/SolutionFiltersManifest/Models/SolutionFiltersManifest.cs
  src/app/Slnfgen.CLI/Domain/Solution/DependencyInjection.cs
  src/app/Slnfgen.CLI/Domain/Solution/File/Models/XmlSolutionFile.cs
  src/app/Slnfgen.CLI/Domain/Solution/File/Repository/IXmlSolutionFileWriter.cs
  src/app/Slnfgen.CLI/Domain/Solution/File/Services/SolutionGenerator.cs
  src/app/Slnfgen.CLI/Domain/Solution/Project/Models/ProjectFile.cs
  src/app/Slnfgen.CLI/Domain/Solution/Project/Services/SolutionProjectDependencyTreeMapper.cs
  src/app/Slnfgen.CLI/Presentation/Commands/GenerateAllSolutionFiltersCommand.cs
  src/app/Slnfgen.CLI/Presentation/Init/ServiceCollectionExtensions.cs
  src/app/Slnfgen.CLI/Slnfgen.CLI.csproj
  src/test/Slnfgen.CLI.IntegrationTests/SetUp/Fixtures/SolutionFilterFixture.cs
  src/test/Slnfgen.CLI.UnitTests/Application/Repositories/Manifest/SolutionFiltersManifestFileLoaderTests.cs
  src/test/Slnfgen.CLI.UnitTests/Application/Repositories/Solution/File/XmlSolutionFileWriterTests.cs
  src/test/Slnfgen.CLI.UnitTests/Application/Requests/Generate/GenerateSolutionFiltersRequestHandlerTests.cs
  src/test/Slnfgen.CLI.UnitTests/Domain/Solution/File/Services/SolutionGeneratorTests.cs
  src/test/Slnfgen.CLI.UnitTests/Presentation/Commands/GenerateSolutionFiltersCommandTests.cs
  src/test/Slnfgen.CLI.UnitTests/TestSolutions/BasicSolution/monorepo.yml
Labels: docs, src, tests, config
